# PPTP CHAP Secrets file
# Format: username * password *
# Managed by Ansible

{% for conn in pppd_settings %}
{% if conn.pty is defined and conn.user is defined and conn.password is defined %}
{{ conn.user }} * {{ conn.password }} *
{% endif %}
{% endfor %}